<h1>Attach a new blockchain</h1>
<div class="form">
    <h2>{{item.name}}</h2>
    <img class="cube" src={{item.imageUrl}}>
    <form action='/blockchain/attach/{{item._id}}' method="POST">
        {{#if dropdownBlockchains}}
            <label for="accessory">Blockchains</label>
            <select id="accessory" name="accessory">

                <!-- insert list of accessories not including those already attached to the cube -->
                {{#each dropdownBlockchains}}
                    <option value={{_id}}>{{name}}</option>
                {{/each}}

            </select>
            <input type="submit" value="Attach">
        {{else}}
            <div class="details">
                <h2 align="center">All Blockchains are available!</h2>
            </div>
            
        {{/if}}
    </form>
    {{#if item.blockchains}}
    <h2>Blockchains:</h2>
    <ul>
        {{#each item.blockchains}}
        <li><h3>{{name}}</h3></li>
        {{/each}}
    </ul>
    {{else}}
        {{#if dropdownBlockchains}}
            <!--if accessories are available to add -->
            <h3 class="italic">No blockchains have been added yet</h3>
        {{else}}
            <!--no accessories attached and none in the dropdown -->
            <h3 class="italic">You need to add a blockchain first!</h3>
        {{/if}}
    {{/if}}
    
    <a class="btn" href="/">Back</a>
</div>